<% if (!reservationToModify) { %>
    <div class="text-center">
        <h4>Időpont választása</h4>
        <% if (slots.length == 0) { %>
            <span>A mai napon már nincs elérhető időpont</span>
        <% } %>
    </div>
    <div class="d-flex flex-row justify-content-around mt-4 md-5" >
        <button type="button" class="btn btn-warning" id="datepicker"><%= year %>-<%= month+1 %>-<%= day %></button>
        <span class="glyphicon glyphicon-plus"></span>
    </div>
  <% } else { %>
    <span><%= reservationDate.getFullYear() %>-<%= reservationDate.getMonth() + 1 %>-<%= reservationDate.getDate() %></span>
  <% } %>