<% if (loggedIn) { %>
  <% include logged_in_header %>
<% } else { %>
  <% include logged_out_header %>
<% } %>
    <main role="main container">
        <div class="row">
            <div class="col">
            </div>
            <div class="col-7 mt-5">
                <table class="table-bordered table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th>Dátum</th>
                            <th>Pálya</th>
                            <th>Művelet</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% reservations.forEach(function(reservation, index) { %>
                            <tr>
                                <th class="table-success th-width" scope="row"><%= index+1 %></th>
                                <td class="align-middle"><%= reservation.date %></td>
                                <td class="align-middle"><%= reservation.mapName %></td>
                                <% if (!reservation.past) { %>
                                <td class="align-middle">
                                    <a role="button" href="/reserve/mod/<%= reservation.id %>" class="btn btn-sm btn-warning">Módosítás</a>
                                    <a role="button" href="/reservations/del/<%= reservation.id %>" class="btn btn-sm btn-danger">Törlés</a>
                                </td>
                                <% } %>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
            <div class="col">
            </div>
        </div>
    </main>
<% include footer %>